In [7]:
#range function
list(range(20,11,-2))

[20, 18, 16, 14, 12]

In [8]:
#sequence 
#string
["spider","man","is", "back"]

['spider', 'man', 'is', 'back']

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
for i in ["spider","man","is", "back"]:
    print(i,end=' ')

spider man is back

In [13]:
#nested loops

In [26]:
rows = int(input("Enter the number of rows"))

for i in range(1,rows + 1):
    for j in range(i):
        print("*",end=' ')
    print("")

Enter the number of rows5
*
**
***
****
*****